*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:60px;

}

/* ===========================
            LOGO
=========================== */

h1{

    font-family:'Rubik Scribble', cursive ;

    font-size:100px;

    margin-bottom:30px;

    color:#111;

}

/* ===========================
          FOLDER AREA
=========================== */

.archive{

    position:relative;

    width:900px;

    height:460px;

}

/* ===========================
            FOLDER
=========================== */

.folder{

    position:absolute;

    left:50%;

    transform:translateX(calc(-50% + var(--offset)));

    width:700px;
    height:165px;

    border:3px solid #111;
    border-radius:10px;

    display:flex;
    align-items:center;

    padding-left:40px;

    text-decoration:none;
    color:#111;

    font-family:'Unkempt', cursive;
    font-size:40px;

    transition:.35s ease;

    box-shadow:0 10px 0 rgba(0,0,0,.08);

}

.file-number{

    position:absolute;

    left:60px;

    top:-15px;

    font-size:18px;

    font-family:'Gaegu', cursive;

    letter-spacing:2px;

    font-weight:700;

}

.folder-name{

    position:absolute;

    right:35px;

    top:6px;

    font-size:22px;

    font-family:'Gaegu', cursive;

    text-transform:uppercase;

}


/* ===========================
            TAB
=========================== */

.tab{

    position:absolute;

    top:-24px;

    left:35px;

    width:160px;

    height:24px;

    background:inherit;

    border:3px solid #111;

    border-bottom:none;

    border-radius:10px 10px 0 0;

}

/* ===========================
          LABEL FILE
=========================== */



/* ===========================
          POSISI
=========================== */

.about{

    background:#DFA87E;
    z-index:8;

    bottom:0;

    --offset:0px;

}

.music{

    background:#A4C8A8;
    z-index:7;

    bottom:42px;

    --offset:0px;

}

.films{

    background:#C7B6E7;
    z-index:6;

    bottom:84px;

    --offset:0px;

}

.sketchbook{

    background:#A8D3E8;
    z-index:5;

    bottom:126px;

    --offset:0px;

}

.book{

    background:#F4DA89;
    z-index:4;

    bottom:168px;

    --offset:0px;

}

.food{

    background:#F7B6C8;
    z-index:3;

    bottom:210px;

    --offset:0px;

}

.hallofame{

    background:#EFE7D6;
    z-index:1;

    bottom:252px;

    --offset:0px;

}

/* ===========================
            HOVER
=========================== */

.folder:hover{

    transform:translateX(calc(-50% + var(--offset) + 35px));

    box-shadow:0 18px 0 rgba(0,0,0,.08);

}

/* ===========================
        RESPONSIVE
=========================== */

@media(max-width:900px){

.archive{

    width:100%;

}

.folder{

    width:90%;

}

h1{

    font-size:54px;

}

}